@import 'tailwindcss';

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    /* Убираем background-color отсюда, чтобы не перекрывать Canvas */
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
  }
}
