@import 'tailwindcss';

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    pointer-events: none;
    background: transparent;
  }

  #root {
    width: 100%;
    min-height: 100vh;
    pointer-events: none;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    transition: all 0.3s ease;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(99, 102, 241, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
  }
}
