@import 'tailwindcss';

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    pointer-events: none;
    background: transparent;
  }

  #root {
    width: 100%;
    min-height: 100vh;
    pointer-events: none;
  }
}
